* {
    box-sizing: border-box;
    /*outline: red 1px dotted;*/
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.CTA {
    border: none;
    padding: 1.4rem 3.2rem;
    /* font-size: 2remrem; */
    transition: 400ms all ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.CTA--primary {
    background-color: red;
    color: white;
    border: red solid 1px;
}
.CTA--primary:hover:enabled {
    background-color: white;
    color: red;
}
.CTA--secondary {
    border: red solid 1px;
    background-color: white;
    color: red;
}
.CTA--secondary:hover:enabled {
    background-color: red;
    color: white;
}
input[name="password"] {
    padding-right: 4rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.form-group-password {
    position: relative;
}
.form-group > input {
    height: 3rem;
    width: 30rem;
}
.CTA:disabled {
    background-color: #6a6a6a63;
    color: rgba(0, 0, 0, 0.34);
    border: #6a6a6a63 1px solid;
}
button:disabled {
    /*color: rgba(0, 0, 0, 0.34);*/
    color: red;
}
.icon-eye {
    position: absolute;
    right: 1rem;
    top: 50%;
    cursor: pointer;
}