.nav-bar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.237);
}

.nav-bar > div {
    display: flex;
    gap: 5rem;
}
.nav-links {
    text-decoration: none;
    color: black;
    transition: 400ms color ease-in-out;
}
.nav-links:hover {
    color: red;
}